services:
  backend:
    build:
      context: ./backend
    environment:
      NODE_ENV: production
      PORT: 3000
      MYSQL_HOST: mysql
      MYSQL_PORT: 3306
      MYSQL_USER: root
      MYSQL_PASSWORD: example
      MYSQL_DATABASE: softAsistence
      MYSQL_CONNECTION_LIMIT: 10
    ports:
      - "3000:3000"
    depends_on:
      - mysql

  frontend:
    build:
      context: ./frontend
      args:
        API_BASE_URL: http://localhost:3000/api
    ports:
      - "8080:80"
    depends_on:
      - backend

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: asistencia
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: